@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
} 

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*////////////////
// Font Section //
////////////////*/
@font-face {
  font-family: 'Montserrat';
  src: url('../public/assets/fonts/montserrat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../public/assets/fonts/montserrat-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kalayaan';
  src: url('../public/assets/fonts/kalayaan.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Squada';
  src: url('../public/assets/fonts/squada.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}